* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    overflow-wrap: break-word;
}

header {
    background-color: white;
    display: flex;
    justify-content: center;
}

h1 {
    margin: 0px;
    padding: 10px 0px;
}

.content {
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    margin-top: 50px;
    width: 400px;
}

.card:last-child {
    margin-bottom: 50px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

.card-title {
    font-weight: bold;
}

.card-date {
    font-weight: lighter;
    color: lightgray;
}

.card-img {
    width: 100%;
}

.card-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: 1px solid lightgrey;
}

.card-text {
    margin: 0px;
    padding: 10px;
    width: 100%;
}